@font-face {
    font-family: 'Scriptina';
    src: url('../../font/SCRIPTIN.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Scriptina-alt';
    src: url('../../font/SCRIPALT.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&family=Satisfy&family=Schoolbell&display=swap');

// font-family: 'Montserrat Alternates', sans-serif;
// font-family: 'Satisfy', cursive;
// font-family: 'Schoolbell', cursive;